name: "Build and cache hc-progenitor"
on:
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-cache-hc-progenitor:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3

      - name: Install nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-24.05

      - uses: cachix/cachix-action@v15
        with:
          name: holochain-ci

      - uses: cachix/cachix-action@v15
        with:
          name: darksoil-studio

      - name: Build zomes
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.DARKSOIL_CACHIX_AUTH_TOKEN }}"
        run: |
          nix build -L .#hc-progenitor
          cachix push darksoil-studio $(nix path-info --accept-flake-config .#hc-progenitor)
          cachix pin darksoil-studio hc-progenitor $(nix path-info --accept-flake-config .#hc-progenitor)
